<div id="<%= dom_id group %>" class="card d-flex flex-row col-10 m-auto mb-2 shadow">
  <img class="card-img-left col-4 border m-1" src="<%= group.icon %>" alt="Card image cap">
  <div class="card-body col-5">
    <h3 class="card-text"><%= group.name %></h3>
    <p>
      <%= link_to "Show this category", group %>
    </p>
  </div>
</div>

